<template>
  <div>
    <b-table striped hover :items="logs"></b-table>
  </div>
</template>

<script>
import {getEvents} from '../api'

export default {
  name: "EventLogs",
  data() {
    return {
      logs: []
    }
  },
  methods: {
    updateEvents() {
      getEvents()
      .then((events) => {
        this.logs = events.events
      })
    }
  },
  mounted() {
    this.updateEvents()
  }
}
</script>
