<template>
  <div>
    <RepoList :logged-in="loggedIn" :repos="repos"></RepoList>
  </div>
</template>

<script>
import RepoList from "@/components/RepoList";
import {getFavorites, getRepo} from "../api";

export default {
  name: "Favorites",
  components: {
    RepoList
  },
  data() {
    return {
      repos: [],
    }
  },
  props: {
    loggedIn: Boolean
  },
  methods: {
    async updateFavorites() {
      let favorites = await getFavorites()
      favorites.favorites.forEach(favorite => {
        getRepo(favorite).then(repoInfo => {
          this.repos.push(repoInfo.repo)
        })
      })
    }
  },
  mounted() {
    this.updateFavorites()
  }
}
</script>
