<template>
  <div class="d-flex align-items-center justify-content-center">
    <b-card class="mt-3" header="Login">
      <b-form @submit="onSubmit">

        <b-form-group label="Username" label-for="username_input">
          <b-form-input id="username_input" v-model="form.username" placeholder="Enter username" required></b-form-input>
        </b-form-group>

        <b-form-group label="Password" label-for="password_input">
          <b-form-input id="password_input" v-model="form.password" placeholder="Enter password" type="password" required></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Login</b-button>

        <b-form-text text-variant="danger" v-if="badLogin">Invalid login credentials</b-form-text>

      </b-form>
    </b-card>
  </div>
</template>

<script>
import { tryLogin } from '../api'

export default {
  name: "Login",
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      badLogin: false
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      this.login()
    },
    login() {
      tryLogin(this.form.username, this.form.password)
      .then(() => {
        this.$emit('refresh-auth')
        this.$router.push('/').catch(() => {})
      })
      .catch(() => {
        this.badLogin = true
      })
    }
  }
}
</script>