<template>
  <b-navbar toggleable="true" type="dark" variant="dark">
    <b-navbar-brand>Github API Frontend</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <router-link to="/" tag="b-nav-item">Repository Search</router-link>

        <div v-if="!loggedIn">
          <router-link to="/login" tag="b-nav-item">Login</router-link>
          <router-link to="/register" tag="b-nav-item">Register</router-link>
        </div>

        <div v-if="admin">
          <router-link to="/admin/user_list" tag="b-nav-item">User List</router-link>
          <router-link to="/admin/event_logs" tag="b-nav-item">Event Logs</router-link>
        </div>

        <div v-if="loggedIn">
          <router-link to="/favorites" tag="b-nav-item">Favorites</router-link>
          <b-nav-item @click="logout">Logout</b-nav-item>
          <b-form-text text-variant="primary">Logged in as {{ username }}</b-form-text>
        </div>

      </b-navbar-nav>
    </b-collapse>

  </b-navbar>
</template>

<script>
import {logout} from '../api'

export default {
  name: "NavBar",
  props: {
    username: String,
    loggedIn: Boolean,
    admin: Boolean
  },
  methods: {
    logout() {
      logout().then(() => {
        this.$emit('refresh-auth')
        this.$router.push('/').catch(() => {})
      })
    }
  }
}
</script>