<template>
  <div class="d-flex align-items-center justify-content-center">
    <b-card class="mt-3" header="Login">
      <b-form @submit="onSubmit">

        <b-form-group label="Username" label-for="username_input">
          <b-form-input id="username_input" v-model="form.username" placeholder="Enter username"
                        required></b-form-input>
        </b-form-group>

        <b-form-group label="Password" label-for="password_input">
          <b-form-input id="password_input" v-model="form.password" placeholder="Enter password" type="password"
                        required></b-form-input>
        </b-form-group>

        <b-form-group label="Password Confirmation" label-for="password2_input">
          <b-form-input id="password2_input" v-on:blur="validatePasswords" v-model="form.passwordConfirm"
                        placeholder="Enter password again" type="password" required></b-form-input>
          <b-form-text text-variant="danger" v-if="!passwordsMatch">Passwords do not match</b-form-text>
        </b-form-group>

        <b-button type="submit" variant="primary">Register</b-button>
        <b-form-text text-variant="danger" v-if="badInput">Failed to register with given credentials</b-form-text>

      </b-form>
    </b-card>
  </div>
</template>

<script>
import {tryRegister} from "@/api";

export default {
  name: "Register",
  data() {
    return {
      form: {
        username: '',
        password: '',
        passwordConfirm: ''
      },
      badInput: false,
      passwordsMatch: true
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()

      if (!this.passwordsMatch) {
        return
      }

      this.register()
    },
    register() {
      tryRegister(this.form.username, this.form.password)
          .then(() => {
            this.$emit('refresh-auth')
            this.$router.push('/').catch(() => {
            })
          })
          .catch(() => {
            this.badInput = true
          })
    },
    validatePasswords() {
      this.passwordsMatch = this.form.password == this.form.passwordConfirm
    }
  }
}
</script>