<template>
  <div>
    <b-card no-body>
      <b-card-body>
        <b-link v-bind:href="repoUrl" target="_blank">
          <h4>{{repoName}}</h4>
        </b-link>
        <p class="card-text">{{repoDescription}}</p>

        <div v-if="loggedIn">
          <b-button v-if="!isFavorited" @click="handleFavorite" variant="primary">Favorite</b-button>
          <b-button v-if="isFavorited" @click="handleUnfavorite" variant="secondary">Unfavorite</b-button>
        </div>

      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import {favoriteRepo, unfavoriteRepo, isFavorited} from "../api";

export default {
  name: "RepoListing",
  props: {
    repoName: String,
    repoUrl: String,
    repoDescription: String,
    repoId: Number,
    loggedIn: Boolean
  },
  data() {
    return {
      isFavorited: false
    }
  },
  methods: {
    handleFavorite() {
      favoriteRepo(this.repoId)
      .then(() => {
        this.isFavorited = true;
      })
      .catch(() => {})
    },
    handleUnfavorite() {
      unfavoriteRepo(this.repoId)
          .then(() => {
            this.isFavorited = false;
          })
          .catch(() => {})
    }
  },
  mounted() {
    isFavorited(this.repoId)
    .then((favorited) => {
      this.isFavorited = favorited
    })

  }
}
</script>
