<template>
  <div>
    <RepoListing v-for="repo in repos" v-bind:key="repo.id"
                 :logged-in="loggedIn" :repo-name="repo.full_name" :repo-description="repo.description"
                 :repo-id="repo.id" :repo-url="repo.html_url"> {{ repo.name }}
    </RepoListing>
  </div>
</template>

<script>
import RepoListing from "@/components/RepoListing";

export default {
  name: "RepoList",
  components: {
    RepoListing
  },
  props: {
    repos: Array,
    loggedIn: Boolean
  }
}
</script>
