<template>
  <div class="searchArea">
    <b-pagination v-if="repos.length > 0" @change="changePage" v-model="search.current_page"
                  :total-rows="search.total_rows" :per-page="search.per_page"></b-pagination>

    <b-form @submit="onSearch">
      <b-input-group class="mt-3">
        <b-form-input v-model="search.query"></b-form-input>
        <b-button type="submit" variant="info">Search</b-button>
      </b-input-group>
    </b-form>

    <RepoList :logged-in="loggedIn" :repos="repos"></RepoList>

  </div>
</template>

<script>
import {getRepos} from "../api";
import RepoList from "@/components/RepoList";

export default {
  name: "RepoSearch",
  components: {RepoList},
  data() {
    return {
      search: {
        query: '',
        current_page: 1,
        per_page: 10,
        total_rows: 0,
      },
      repos: []
    }
  },
  props: {
    loggedIn: Boolean
  },
  methods: {
    onSearch(event) {
      event.preventDefault()
      this.changePage(1)
    },
    updateRepos() {
      getRepos(this.search.query, this.search.current_page, this.search.per_page)
          .then((repos) => {
            this.repos = repos.repos
            this.search.total_rows = (repos.total > 1000) ? 1000 : repos.total
          })
          .catch(() => {
          })
    },
    changePage(page) {
      this.repos = []
      this.search.current_page = page
      this.updateRepos()
    }
  }
}
</script>

<style scoped>
.searchArea {
  margin: 50px;
}
</style>