<template>
  <div>
    <b-table striped hover :items="users"></b-table>
  </div>
</template>

<script>
import {getUsers} from '../api'

export default {
  name: "UserList",
  data() {
    return {
      users: []
    }
  },
  methods: {
    updateUsers() {
      getUsers()
          .then((users) => {
            this.users = users.users
          })
    }
  },
  mounted() {
    this.updateUsers()
  }
}
</script>
