<template>
  <div id="app">
    <NavBar v-on:refresh-auth="updateAuthInfo"
            :username="authInfo.username"
            :logged-in="authInfo.loggedIn"
            :admin="authInfo.admin"></NavBar>

    <router-view v-on:refresh-auth="updateAuthInfo"
                 :username="authInfo.username"
                 :logged-in="authInfo.loggedIn"
                 :admin="authInfo.admin"></router-view>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar';
import { getUserInfo } from './api'

export default {
  name: 'App',
  components: {
    NavBar
  },
  data() {
    return {
      authInfo: {
        username: '',
        loggedIn: false,
        admin: false
      }
    }
  },
  methods: {
    updateAuthInfo() {
      getUserInfo()
          .then((userInfo) => {
            this.authInfo.admin = userInfo.administrator
            this.authInfo.username = userInfo.username
            this.authInfo.loggedIn = true
          })
          .catch(() => {
            this.authInfo.loggedIn = false
            this.authInfo.admin = false
          })
    }
  },
  mounted: function() {
    this.updateAuthInfo()
  }
}
</script>